[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "memos"
version = "0.2.0"
description = "A package for memos"
readme = "README.md"
authors = [{ name = "arkohut" }]
license = { file = "LICENSE" }
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
requires-python = ">=3.10"
dependencies = [
    "fastapi",
    "uvicorn",
    "httpx",
    "pydantic",
    "sqlalchemy",
    "typer",
    "magika",
    "pydantic-settings",
    "typesense",
    "opencv-python",
    "pillow",
    "piexif",
]

[project.urls]
Homepage = "https://github.com/arkohut/memos"

[project.scripts]
memos = "memos.commands:app"

[tool.setuptools]
packages = ["memos"]

[tool.setuptools.package-data]
"*" = ["static/**/*"]